h1{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color:forestgreen;
  font-size: 3em;
}

body{
 background-color: paleturquoise; 
}

#gameCanvas{
  background-color: lightslategray;
  padding-left: 0;
  margin-top: 2em;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 750px; 
  height: 475px;  
}

