h1{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color:forestgreen;
  font-size: 3em;
}

body{
 background-color: yellowgreen; 
}

#gameCanvas{
  background-color: lightslategray;
  padding-left: 0;
  margin-top: 2em;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 750px; 
  height: 480px;  
}

#score{
  width: 200;
  height: 100;
  margin-top: 0.5em;
  text-align: center;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: firebrick;
  font-size: 2em;
 }